.todolist-app {
  padding: 3rem;
  
  h1 {
    margin-top: 0;
    color: orange;
    font-weight: bolder;
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
    text-transform: uppercase;
  }
}

.container {
  background-color: #fff;
  max-width: 40rem;
  max-height: 600px;
  overflow-y: auto;
  padding: 2rem;
  margin-left: auto;
  margin-right: auto;
  border-radius: 1rem;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  box-sizing: border-box !important;

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background: linear-gradient(to right, #c6ffdd, #fbd786, #f7797d);
    border-radius: 6px;
  }

  &::-webkit-scrollbar-track {
    background-color: #ddd;
  }
}

